body {
    font-family: arial, sans-serif;
    color: rgb(72, 202, 163)
    
  }

h1 {
color: blueviolet;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font: size 36px; ;
line-height: 20px;
}


ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  
  .weather-app-wrapper {
    max-width: 800px;
    margin: 20px auto;
  }
  
      
      .weather-app {
        padding: 15px;
        border: 1px solid #dadde1;
        max-width: 830px;
        border-radius: 20px;
        border-radius: 5px;
        background: radial-gradient(circle at -8.9% 51.2%, rgb(201, 145, 113) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
        
      }


      .forcast {
        margin-right: 5px;
        height: 60px;
        width: 60px;
      }

      
    