body {
    font-family: arial, sans-serif;
    color: blueviolet;
    
  }

h1 {
color: aqua;
font-size: 30px;
}

ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  
  .weather-app-wrapper {
    max-width: 700px;
    margin: 30px auto;
  }
  
      
      .weather-app {
        padding: 15px;
        border: 1px solid #dadde1;
        max-width: 700px;
        border-radius: 20px;
        border-radius: 5px;
        background-color: rgb(241, 233, 224);
       }  

      .weather-temperature img {
        margin-right: 5px;
        height: 48px;
        width: 48px;
      }

      small { 
          text-align: center;
      }
