body {
    font-family: arial, sans-serif;
    color: blueviolet;
    background-color: pink;
  }

h1 {
color: aqua;
font-size: 30px;
}

ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   

   }
    .weather-app-wrapper {
        max-width: 700px;
        margin: 30px auto;
      }
      
      .weather-app {
        padding: 15px;
        border: 1px solid #dadde1;
        border-radius: 5px;
      }  

      .weather-temperature img {
        margin-right: 5px;
        height: 48px;
        width: 48px;
      }
