body {
    font-family: arial, sans-serif;
    color: blueviolet;
    
  }

h1 {
color: aqua;
font-size: 30px;
line-height: 12px;
}

ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  
  .weather-app-wrapper {
    max-width: 730px;
    margin: 30px auto;
  }
  
      
      .weather-app {
        padding: 15px;
        border: 1px solid #dadde1;
        max-width: 730px;
        border-radius: 20px;
        border-radius: 5px;
        background-color: rgb(241, 124, 124);
        )


      .forcast {
        margin-right: 10px;
        height: 64px;
        width: 64px;
      }

      
    