h1 {
color: aqua;
}

ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
    .weather-app-wrapper {
        max-width: 400px;
        margin: 30px auto;
      }
      
      .weather-app {
        padding: 20px;
        border: 1px solid #dadde1;
        border-radius: 5px;
      }  


