body {
    font-family: arial, sans-serif;
    color: rgb(72, 202, 163)
    
  }

h1 {
color: rgb(72, 25, 117);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 42px;
 font-weight: 100;
 margin: 30px;
line-height: 20px;
}


ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  
  .weather-app-wrapper {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
  }
  
  .weather-temperature strong {
    color: rgb(143, 17, 17);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
  }


      
    .weather-app {
    padding: 15px;
     border: 1px solid #dadde1;
     max-width: 800px;
     border-radius: 20px;
     border-radius: 5px;
     background: radial-gradient(circle at -8.9% 51.2%, rgb(196, 146, 118) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
        
      }


      .forcast {
        margin-right: 5px;
        height: 60px;
        width: 60px;
      }

      
    